* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}


/* slider with icons */
.slider {
    height: 500px;
    width: 70vw;
    margin-top: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* chevron icons */
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* container with images */
.container {
    height: 400px;
    width: 60vw;
    background-color: blue;

}

.container img {
    object-fit: cover;
    width: 60vw;
    height: 400px;

}
/* show images */
.container .active {
    display: block;
}
/* doesnt show images */
.container img {
    display: none;
}
