* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Reenie Beanie', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
}

h1 {
    color: lightblue;
    text-align: center;
}

.text {
    padding-top: 100px;
}
/* slider with icons */
.slider {
    height: 500px;
    width: 70vw;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;

}
/* chevron icons */
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;


}
/*frecce*/
.left i {
    font-size: 50px;

}

.left i:hover {
    color: lightblue;

}


.right i {
    font-size: 50px;

}

.right i:hover {
    color: lightblue;
}

.container::after {


}
/* container with images */
.container {
    height: 400px;
    width: 60vw;
    background-color: blue;

}

.container img {
    object-fit: cover;
    width: 60vw;
    height: 400px;

}
/* show images */
.container .active {
    display: block;
}
/* doesnt show images */
.container img {
    display: none;
}

img {
  scroll-behavior: smooth;

}
